<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/news" routerLinkActive="active">News</a>
      <a mat-list-item routerLink="/cases" routerLinkActive="active">Cases</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <img style="width: 40px;height: 40px;" src="assets/images.png">
      <span>suicide case prediction</span>
      <span class="spacer"></span>
      <a class="whitelink" routerLink="/signup" *ngIf="!(authService.getUser()|async)">Signup</a>
      <a class="whitelink" routerLink="/login" *ngIf="!(authService.getUser()|async)">Login</a>
      <a class="whitelink1" (click)="logout()" *ngIf="(authService.getUser()|async)">Logout</a>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
<div class="footer" color="primary">
  <p>
    @ For any problem, the Azrieli team is here for you at the email address AngularForEver@jce.ac.il
  </p>
</div>
