<br>
<div *ngFor="let a of articles" style="max-width: 600px;margin: auto auto 30px;">
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{a.title}}</mat-card-title>
      <mat-card-subtitle style="margin-top: 5px;">{{a.source.name}}</mat-card-subtitle>
      <mat-card-subtitle>{{a.author}}, {{a.publishedAt | date}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src={{a.urlToImage}}>
    <mat-card-content>
      <p>{{a.description}}</p>
      <a href={{a.url}} target="_blank">Read more</a>
    </mat-card-content>
  </mat-card>
</div>

