<div *ngIf="this.userId === null">
  <h1>You're Not Logged in</h1>
</div>


<div *ngIf="this.userId !== null">
  <button mat-button type="button" (click)="openCaseModal(-1,'Add')">Add case</button>
  <table mat-table [dataSource]="cases" class="mat-elevation-z8">
    <!-- Police Column -->
    <ng-container matColumnDef="police">
      <th mat-header-cell *matHeaderCellDef>Police involved</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.police" class="material-icons">done</span>
        <span *ngIf="!element.police" class="material-icons">close</span>
      </td>
    </ng-container>

    <!-- Sex Column -->
    <ng-container matColumnDef="sex">
      <th mat-header-cell *matHeaderCellDef> Sex</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf="element.sex === 'Male'" class="material-icons">male</span>
        <span *ngIf="element.sex === 'Female'" class="material-icons">female</span>
      </td>
    </ng-container>
    <!-- Age Column -->
    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef> Age</th>
      <td mat-cell *matCellDef="let element"> {{element.age}} </td>
    </ng-container>

    <!-- Raise Column -->
    <ng-container matColumnDef="race">
      <th mat-header-cell *matHeaderCellDef> Race</th>
      <td mat-cell *matCellDef="let element"> {{element.race}} </td>
    </ng-container>

    <!-- Education Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> Education</th>
      <td mat-cell *matCellDef="let element"> {{element.education}} </td>
    </ng-container>

    <!-- Month Column -->
    <ng-container matColumnDef="month">
      <th mat-header-cell *matHeaderCellDef> Month</th>
      <td mat-cell *matCellDef="let element"> {{element.month}} </td>
    </ng-container>

    <!-- Place Column -->
    <ng-container matColumnDef="place">
      <th mat-header-cell *matHeaderCellDef> Place</th>
      <td mat-cell *matCellDef="let element"> {{element.place}} </td>
    </ng-container>
    <!-- result Column -->
    <ng-container matColumnDef="suicide">
      <th mat-header-cell *matHeaderCellDef> Suicide</th>
      <td mat-cell *matCellDef="let element"> {{element.suicide ? element.suicide : 'N/A'}} </td>
    </ng-container>

    <!-- Predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict</th>
      <td mat-cell *matCellDef="let element; let i= index">
        <button mat-raised-button [disabled]="element.suicide" (click)="predictCase(i)">Predict</button>
      </td>
    </ng-container>

    <!-- Edit Column -->
    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit</th>
      <td mat-cell *matCellDef="let element; let i= index">
        <button mat-raised-button color="primary" (click)="openCaseModal(i,'Edit')">Edit</button>
      </td>
    </ng-container>

    <!-- Delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete</th>
      <td mat-cell *matCellDef="let element; let i= index">
        <button mat-raised-button color="warn" (click)="deleteCase(i)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
