<h1>{{title}} case </h1>
<div style="display: flex;flex-direction: column">
  <div style="display: flex;justify-content: space-between">
    <mat-form-field appearance="standard">
      <mat-label>Age</mat-label>
      <input matInput
             [(ngModel)]="case.age"
             name="age"
             required>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Gender</mat-label>
      <mat-select place-holder="gender" [(ngModel)]="case.sex" name="sex" required>
        <mat-option *ngFor="let g of genders" [value]="g">
          {{g}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Race</mat-label>
      <mat-select place-holder="race" [(ngModel)]="case.race" name="race" required>
        <mat-option *ngFor="let race of races" [value]="race">
          {{race}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Education</mat-label>
      <mat-select place-holder="education" [(ngModel)]="case.education" name="education" required>
        <mat-option *ngFor="let e of educations" [value]="e">
          {{e}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div style="display: flex;justify-content: space-between;width: 800px;">
    <mat-form-field appearance="standard">
      <mat-label>Month</mat-label>
      <mat-select place-holder="month" [(ngModel)]="case.month" name="month" required>
        <mat-option *ngFor="let m of months" [value]="m">
          {{m}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Place</mat-label>
      <mat-select place-holder="place" [(ngModel)]="case.place" name="place" required>
        <mat-option *ngFor="let p of places" [value]="p">
          {{p}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox style="margin-top: 30px;" [(ngModel)]="case.police" name="police">is police involved?</mat-checkbox>

    <button mat-button type="submit" color="primary" (click)="saveCase()">
      Save
    </button>
    <button mat-button type="button" (click)="cancelDialog()">
      Cancel
    </button>

  </div>

</div>

