<div style="display: flex;flex-direction: column;">
  <h1 style="margin: auto">Welcome to the suicide prediction system</h1>

  <h3 style="margin: auto">Dear Police Officer The system is designed to help you investigate and resolve deaths.</h3>

  <h4 style="margin: auto">Use it wisely and remember the data is for your eyes only.</h4>
</div>

